## [Start] Setting "verified" to default value of "false". **
$util.qr($context.args.input.put("verified", $util.defaultIfNull($ctx.args.input.verified, false)))
## [End] Setting "verified" to default value of "false". **
## [Start] Setting "rating" to default value of "0". **
$util.qr($context.args.input.put("rating", $util.defaultIfNull($ctx.args.input.rating, 0)))
## [End] Setting "rating" to default value of "0". **
## [Start] Setting "totalReviews" to default value of "0". **
$util.qr($context.args.input.put("totalReviews", $util.defaultIfNull($ctx.args.input.totalReviews, 0)))
## [End] Setting "totalReviews" to default value of "0". **
{}