## [Start] Setting "issueCount" to default value of "0". **
$util.qr($context.args.input.put("issueCount", $util.defaultIfNull($ctx.args.input.issueCount, 0)))
## [End] Setting "issueCount" to default value of "0". **
{}